extends ../templates/base.jade

block content
    div(class="page-inner page-inner--w1")
        div(class="page-heading")
            h1(class="page-heading-title") Карьера
            
    div(class="page-inner page-inner--w1")
        div(class="page-text")
            img(src="../dummy/services/145923.png")

    div(class="page-inner page-inner--w1")
        div(class="career page-text")
            cite(class="big") Присоединяйтесь к нашей команде!
            div(class="career-columns")
                div(class="career-col")
                    div(class="accordion")
                        div(class="accordion-item")
                            div(class="accordion-header")
                                span(class="accordion-post") Юрист
                                span(class="accordion-wage") от 50 000 руб.
                            div(class="accordion-content")
                                div(class="accordion-content-title") Обязанности
                                p Cоздание в ресторане атмосферы гостеприимства
                                p Сервировка столов в соответствии с установленными стандартами
                                p Консультация гостей по меню
                                p Обслуживание Гостей по стандартам сревиса
                                div(class="accordion-content-title") Требования
                                p Грамотная речь
                                p Ответственность, энергичность, доброжелательность
                                p Огромное желание работать и зарабатывать
                                p Опыт работы в ресторанах премиум сегмента
                                p Презентабельный внешний вид
                                p Умение подддержать беседу, расположить к себе, умнение слышать и слушать
                                p Умение работать в команде
                                div(class="accordion-content-title") Условия
                                p График 2/2 с
                                p Выход+чаевые
                                p Территориально центр Москвы
                                p Оформление по ТК РФ
                                button(type="submit", class="btn btn--green") Откликнуться на вакансию
                        div(class="accordion-item")
                            div(class="accordion-header")
                                span(class="accordion-post") Горничная
                                span(class="accordion-wage") от 15 000 руб.
                            div(class="accordion-content")
                                div(class="accordion-content-title") Обязаности
                                div(class="accordion-content-text") Обязаности
                        div(class="accordion-item")
                            div(class="accordion-header")
                                span(class="accordion-post") Портье
                                span(class="accordion-wage") от 20 000 руб.
                            div(class="accordion-content")
                                div(class="accordion-content-title") Обязаности
                                div(class="accordion-content-text") Обязаности
                        div(class="accordion-item")
                            div(class="accordion-header")
                                span(class="accordion-post") Администратор ресторана
                                span(class="accordion-wage accordion-wage--empty") з/п не указана 
                            div(class="accordion-content")
                                div(class="accordion-content-title") Обязаности
                                div(class="accordion-content-text") Обязаности
                        div(class="accordion-item")
                            div(class="accordion-header")
                                span(class="accordion-post") Кухонный работник
                                span(class="accordion-wage") от 15 000 руб.
                            div(class="accordion-content")
                                div(class="accordion-content-title") Обязаности
                                div(class="accordion-content-text") Обязаности
                        div(class="accordion-item")
                            div(class="accordion-header")
                                span(class="accordion-post") Официант
                                span(class="accordion-wage") от 35 000 руб.
                            div(class="accordion-content")
                                div(class="accordion-content-title") Обязаности
                                div(class="accordion-content-text") Обязаности    
                        div(class="accordion-item")
                            div(class="accordion-header")
                                span(class="accordion-post") Бухгалтер
                                span(class="accordion-wage") от 15 000 руб.
                            div(class="accordion-content")
                                div(class="accordion-content-title") Обязаности
                                div(class="accordion-content-text") Обязаности
                div(class="career-col")
                    div(class="career-department") Отдел кадров
                    a(href="tel:+74955802514", class="link career-mobile") + 7 (495) 580 28 14
                    a(href="mail:job@grafskiypark.com", class="link link--green career-email") mail:job@grafskiypark.com
