extends ../templates/base.jade

block content
	div(class="page-inner page-inner--w1")
		div(class="page-heading")
			h1(class="h1") Банкетный зал

	div(class="page-inner page-inner--w1 page-inner--promo")
		div(class="promo promo--nodescr")
			div(class="promo-items", data-margin="0", data-autoplay="5000" data-ratio="1.75/1", data-fit="cover", data-shadows="false", data-transitionduration="700", data-arrows="false", data-nav="false", data-width="100%", data-loop="true")
				div(class="promo-item", data-img="../dummy/promo/6.png") 
				div(class="promo-item", data-img="../dummy/promo/6.png") 
				div(class="promo-item", data-img="../dummy/promo/6.png") 
			div(class="promo-nav")
				span(class="promo-nav-item promo-nav-item--prev")
					include ../../prod/svg/larr.svg
				span(class="promo-nav-counter")
					span(class="promo-nav-counter-current") 1
					span(class="promo-nav-counter-divider") 
					span(class="promo-nav-counter-all") &nbsp;
				span(class="promo-nav-item promo-nav-item--next")
					include ../../prod/svg/rarr.svg

	div(class="page-inner page-inner--w2")
		div(class="features")
			div(class="features-text page-text")
				p Большой и светлый зал для торжества в графских традициях. Великолепно декорированное пространство подходит для самых разных мероприятий, от свадеб и юбилеев до крупных деловых форумов. Разные варианты рассадок, световое и акустическое оборудование последнего поколения, сцена и экран 6х2,5 метра позволяют организовывать живые концерты, проводить мультимедиа презентации и конференции.
				p Отдел маркетинга загородного клуба «Графский парк» сотрудничает с ведущими ивент-агентствами Ростова-на-Дону и готов помочь вам в организации мероприятий. 
			div(class="features-items")
				div(class="feature-item")
					span(class="feature-item-name") посадочных мест
					span(class="feature-item-value") 250
				div(class="feature-item")
					span(class="feature-item-name") сезон
					span(class="feature-item-value") круглогодично
				div(class="feature-item")
					span(class="feature-item-name") назначение
					span(class="feature-item-value") проведение свадеб, банкетов, кронференций

	div(class="page-inner page-inner--w2")
		div(class="menu menu--inline")
			a(href="#", class="menu-item menu-item--inline")
				div(class="menu-item-icon")
					include ../../prod/svg/menu.svg
				div(class="menu-item-inner")
					div(class="menu-item-title") Банкетное меню
					div(class="menu-item-fileinfo") pdf, 0.34 мб
			a(href="#", class="menu-item menu-item--inline")
				div(class="menu-item-icon")
					include ../../prod/svg/menu.svg
				div(class="menu-item-inner")
					div(class="menu-item-title") Схемы рассадки
					div(class="menu-item-fileinfo") pdf, 0.34 мб
			a(href="#", class="menu-item menu-item--inline")
				div(class="menu-item-icon")
					include ../../prod/svg/menu.svg
				div(class="menu-item-inner")
					div(class="menu-item-title") Свет и звук
					div(class="menu-item-fileinfo") pdf, 0.34 мб

	div(class="page-inner page-inner--w1")
		div(class="photos")
			div(class="photo-item")
				img(src="../dummy/photos/5.png")
				div(class="photo-item-description page-text") Праздничная сервировка и космополитичное банкетное меню от шеф-повара настраивает рецепторы на получение удовольствия от жизни. 
			div(class="photo-item")
				img(src="../dummy/photos/6.png")
				div(class="photo-item-description page-text") Светлый банкетный зал – торжественное и комфортное пространство для больших событий любого формата. 
			div(class="photo-item")
				img(src="../dummy/photos/7.png")
				div(class="photo-item-description page-text") Вы можете экспериментировать с рассадкой и использовать сцену, экран и современное мультимедиа оборудование для проведения презентаций и конференций.
			div(class="photo-item")
				img(src="../dummy/photos/8.png")
				div(class="photo-item-description page-text") Команда ресторанного комплекса продумает все детали и позаботится о настроении ваших гостей, чтобы сделать праздник волшебным и незабываемым.
			div(class="sizer")
			div(class="gutter")

	div(class="page-inner page-inner--w1")
		div(class="booking")
			div(class="booking-title") Бронирование
			div(class="booking-icon")
				include ../../prod/svg/cone.svg
			div(class="booking-inner")
				div(class="booking-description page-text") По вопросам бронирования зала, проведения свадеб. банкетов или конференций звоните:
				div(class="booking-contacts")
					a(href="tel:+79381238888​", class="booking-contacts-phone") +7 (938) 123-88-88​
					div(class="booking-contacts-or") или пишите
					a(href="mailto:info@grafsiypark.com", class="link link--green booking-contacts-email") info@grafsiypark.com


