div(class="news-item")
    div(class="news-item-holder")
        img(class="news-item-img", src="../dummy/news/news-1.png")
    div(class="news-item-name") Винотека
    div(class="news-item-date") 13 января 2018
    div(class="news-item-text") В винотеке «Графского парка» богатое собрание сочинений лучших виноделов Старого и Нового Света. Благодаря специальному прибору CORAVIN вы можете каждый вечер расширять энологической кругозор и изучать элитные вина понемногу, не откупоривая бутылку, а растягивая удовольствие от напитка на несколько вечеров.
div(class="news-item")
    div(class="news-item-holder")
        img(class="news-item-img", src="../dummy/news/news-2.png")
    div(class="news-item-name") Старый новый год
    div(class="news-item-date") 12 января 2018
    div(class="news-item-text") Старый Новый год — это день, когда нужно проводить старые мысли, старое настроение и открыть свое сердце для чего-то нового и приятного. 
    a(href="news-detail.html", class="link link--large link--green news-item-link") Подробнее
