extends ../templates/base.jade

block content
    div(class="page-inner page-inner--w1")
        div(class="page-heading")
            h1(class="title-404") 404
            div(class="subtitle-404") Страница не найдена
            div(class="back-404") Вернуться на 
                a(href="home.html", class="link link--gray") главную страницу 
                |  сайта
        div(class="copyrights") &#169; 2017, Парк-отель &#171;Графский&#187;. Официальный сайт
