extends ../templates/base.jade

block content
    div(class="page-inner page-inner--w1")
        div(class="page-heading")
            h1(class="page-heading-title") Бассейн
    div(class="page-inner page-inner--w1 page-inner--promo")
        div(class="promo")
            div(class="promo-items", data-margin="0", data-autoplay="5000" data-ratio="1.75/1", data-fit="cover", data-shadows="false", data-transitionduration="700", data-arrows="false", data-nav="false", data-width="100%", data-loop="true")
                div(class="promo-item", data-img="../dummy/pool/big_pool.png")
                    div(class="promo-item-description")
                div(class="promo-item", data-img="../dummy/promo/n2.jpg")
                    div(class="promo-item-description")
                div(class="promo-item", data-img="../dummy/pool/big_pool.png")
                    div(class="promo-item-description")
                div(class="promo-item", data-img="../dummy/promo/n4.jpg")
                    div(class="promo-item-description")
            div(class="promo-nav")
                span(class="promo-nav-item promo-nav-item--prev")
                    include ../../prod/svg/larr.svg
                span(class="promo-nav-counter")
                    span(class="promo-nav-counter-current") 1
                    span(class="promo-nav-counter-divider") 
                    span(class="promo-nav-counter-all") &nbsp;
                span(class="promo-nav-item promo-nav-item--next")
                    include ../../prod/svg/rarr.svg

    div(class="page-inner page-inner--w2")
        div(class="features")
            div(class="features-text page-text")
                p Восновном бассейне протяженностью 50 х16 метров можно отдохнуть в джакузи или в водном баре. Вода в бассейне подогревается и поддерживает комфортную температуру в течение всего сезона. 
                p Get your day off to the best possible start with our extraordinarily tasty buffet breakfast, served in our quiet courtyard as you bask in the pleasant early morning sunshine, or in the comfort of our elegant Wine Bar.
                p Our superb breakfast buffet offers a selection of sweet and savoury specialities, with fresh, quality produce chosen and prepared with care to guarantee our guests a deliciously healthy start to the day.
            div(class="features-items")
                div(class="feature-item")
                    span(class="feature-item-name") лежаков:
                    span(class="feature-item-value") 200
                div(class="feature-item")
                    span(class="feature-item-name") сезон:
                    span(class="feature-item-value") с 15 мая по 15 сентября
                div(class="feature-item")
                    span(class="feature-item-name") режим работы:
                    span(class="feature-item-value feature-item-value--block") будни с 11:00 до 20:00
                    span(class="feature-item-value feature-item-value--block") выходные с 10: 00 до 20:00

    div(class="page-inner page-inner--w1")
        div(class="photos photos--pool")
            div(class="photo-item photo-item--one")
                img(src="../dummy/pool/miraclub.png")
                div(class="photo-item-title page-text") Летняя Площадка
                div(class="photo-item-description page-text") Оцените шедевры космополитичной кухни от нашего шеф-повара. 
            div(class="photo-item photo-item--two")
                img(src="../dummy/pool/people_in_pool.png")
                div(class="photo-item-title page-text") Детская зона
                div(class="photo-item-description page-text") Насладитесь комфортом в апартаментах графского особняка.
            div(class="photo-item photo-item--three")
                img(src="../dummy/pool/beverages.png")
                div(class="photo-item-title page-text") Аквабар
                div(class="photo-item-description page-text") Наша консьерж-служба позаботится, чтобы вы ни в чем не знали стеснения.
            div(class="photo-item photo-item--four")
                img(src="../dummy/pool/dJ.png")
                div(class="photo-item-title page-text") DJ-Площадка
                div(class="photo-item-description page-text") Если понадобится, мы пригласим для вас ивент-менеджера, стилиста и личного водителя.

    div(class="page-inner page-inner--w1")
        div(class="booking")
            div(class="booking-title") Правила и стоимость посещения
            div(class="booking-icon")
                include ../../prod/svg/cone.svg
            div(class="booking-inner")
                div(class="booking-description page-text") Каждому посетителю бассейна предоставляется в пользование 
                    i полотенце,
                    br
                    | комфортная 
                    i раздевалка 
                    | и 
                    i шезлонг 
                    | рядом с бассейном.
                div(class="booking-contacts")
                    div(class="booking-grid booking-grid--col3")
                        div(class="booking-schedule page-text")
                            div(class="booking-schedule-title") Будние дни
                            div(class="booking-schedule-text") Бассейн работает с 11.00 до 20.00.
                            div(class="booking-schedule-subtitle") Взрослые
                            div(class="booking-schedule-text")
                                div(class="price price--bold") 2000
                                | (из которых 
                                div(class="price") 1000
                                | &#8212; депозит на услуги ресторана и бара)
                            div(class="booking-schedule-subtitle") Дети с 4 до 12 лет
                            div(class="booking-schedule-text") 
                                div(class="price price--bold") 500
                                | без депозита
                            div(class="booking-schedule-subtitle") Дети до 3-ч лет
                            div(class="booking-schedule-text") 
                                b бесплатно
                        div(class="booking-schedule page-text")
                            div(class="booking-schedule-title") Выходные дни
                            div(class="booking-schedule-text") Бассейн работает с 11.00 до 20.00.
                            div(class="booking-schedule-subtitle") Взрослые
                            div(class="booking-schedule-text")
                                div(class="price price--bold") 2000
                                | (из которых 
                                div(class="price") 1000
                                | &#8212; депозит на услуги ресторана и бара)
                            div(class="booking-schedule-subtitle") Дети с 4 до 12 лет
                            div(class="booking-schedule-text") 
                                div(class="price price--bold") 500
                                | без депозита
                            div(class="booking-schedule-subtitle") Дети до 3-ч лет
                            div(class="booking-schedule-text") 
                                b бесплатно
                        div(class="booking-schedule page-text")
                            div(class="booking-schedule-text") Для гостей, проживающих в отеле бассейн входит в стоимость номер в будние дни.
                            div(class="booking-schedule-text") Подбробная информация  по телефону: 
                            div(class="booking-schedule-title booking-schedule-title--number") +7 863 900 90 90
                            
