extends ../templates/base.jade

block content
    div(class="page-inner page-inner--w1")
        div(class="page-heading")
            h1(class="page-heading-title") Отдых


    div(class="page-inner page-inner--w2")
        div(class="page-text")
            cite(class="huge") Crisp alpine air flows down from above minglin hunting lodge combines two apparently incompatible worlds into an art of fine living
    
    
    div(class="page-inner page-inner--w1")
        div(class="relaxation")
            div(class="services-items")
                div(class="service-item service-item--left", id="pool")
                    div(class="service-item-info")
                        div(class="service-item-info-inner")
                            div(class="service-item-name h1") Бассейн
                            div(class="service-item-description")
                                div(class="page-text")
                                    p Просторный бассейн 16 х 50 метра с аквабаром и десткой зоны отлично подойдет для семейного отодыха
                                    dl
                                        dt Лежаков:
                                        dd 200
                                        dt Сезон:
                                        dd с мая по сентябрь
                                        dt Режим работы:
                                        dd  пн-сб с 10:00 до 20:00 
                                            br 
                                            | сб-вс с 9:00 о 21:00 
                                a(href="#", class="link link--large link--green") Подробнее
                    div(class="service-item-slider-holder")
                        div(class="service-slider")
                            div(class="service-slider-list")
                                div(class="service-slider-item")
                                    img(src="../dummy/pool/pool_1.png", class="service-slider-item-img")
                                div(class="service-slider-item")
                                    img(src="../dummy/pool/pool_1.png", class="service-slider-item-img")
                                div(class="service-slider-item")
                                    img(src="../dummy/pool/pool_1.png", class="service-slider-item-img")
                                div(class="service-slider-item")
                                    img(src="../dummy/pool/pool_1.png", class="service-slider-item-img")
                            div(class="service-slider-nav")
                                span(class="service-slider-nav-item service-slider-nav-item--prev")
                                    include ../../prod/svg/larr.svg
                                span(class="service-slider-nav-counter")
                                    span(class="service-slider-nav-counter-current") 1
                                    span(class="service-slider-nav-counter-divider") 
                                    span(class="service-slider-nav-counter-all") &nbsp;
                                span(class="service-slider-nav-item service-slider-nav-item--next")
                                    include ../../prod/svg/rarr.svg
                div(class="service-item service-item--right", id="park")
                    div(class="service-item-info")
                        div(class="service-item-info-inner")
                            div(class="service-item-name h1") Парк
                            div(class="service-item-description")
                                div(class="page-text")
                                    p L’accoglienza, il servizio, gli arredi, l’atmosfera del cortile, le specialit enogastronomiche, tutto contribuisce a creare un’esperienza unica da UVE in qualsiasi momento del giorno: dal pranzo leggero, al del pomeriggio, dall’aperitivo alla serata informale. 
                    div(class="service-item-slider-holder")
                        div(class="service-slider")
                            div(class="service-slider-list")
                                div(class="service-slider-item")
                                    img(src="../dummy/pool/park.png", class="service-slider-item-img")
                                div(class="service-slider-item")
                                    img(src="../dummy/pool/park.png", class="service-slider-item-img")
                                div(class="service-slider-item")
                                    img(src="../dummy/pool/park.png", class="service-slider-item-img")
                            div(class="service-slider-nav")
                                span(class="service-slider-nav-item service-slider-nav-item--prev")
                                    include ../../prod/svg/larr.svg
                                span(class="service-slider-nav-counter")
                                    span(class="service-slider-nav-counter-current") 1
                                    span(class="service-slider-nav-counter-divider") 
                                    span(class="service-slider-nav-counter-all") &nbsp;
                                span(class="service-slider-nav-item service-slider-nav-item--next")
                                    include ../../prod/svg/rarr.svg
                div(class="service-item service-item--left", id="bicycle_rides")
                    div(class="service-item-info")
                        div(class="service-item-info-inner")
                            div(class="service-item-name h1") Велопрогулки
                            div(class="service-item-description")
                                div(class="page-text")
                                    p На территории нашего отеля вы можете воспользоваться арендой велосипедов и приятно провести время на велопрогулке, наслаждаясь загородной природой и свежим воздухом. Услуга доступна в летний период.
                                    dl
                                        dt Сезон:
                                        dd весна - лето - осень
                                        dt Когда:
                                        dd по запросу гостя
                    div(class="service-item-slider-holder")
                        div(class="service-slider")
                            div(class="service-slider-list")
                                div(class="service-slider-item")
                                    img(src="../dummy/pool/bicycle_rides.png", class="service-slider-item-img")
                                div(class="service-slider-item")
                                    img(src="../dummy/pool/bicycle_rides.png", class="service-slider-item-img")
                                div(class="service-slider-item")
                                    img(src="../dummy/pool/bicycle_rides.png", class="service-slider-item-img")
                                div(class="service-slider-item")
                                    img(src="../dummy/pool/bicycle_rides.png", class="service-slider-item-img")
                            div(class="service-slider-nav")
                                span(class="service-slider-nav-item service-slider-nav-item--prev")
                                    include ../../prod/svg/larr.svg
                                span(class="service-slider-nav-counter")
                                    span(class="service-slider-nav-counter-current") 1
                                    span(class="service-slider-nav-counter-divider") 
                                    span(class="service-slider-nav-counter-all") &nbsp;
                                span(class="service-slider-nav-item service-slider-nav-item--next")
                                    include ../../prod/svg/rarr.svg
                div(class="service-item service-item--right", id="walks_river")
                    div(class="service-item-info")
                        div(class="service-item-info-inner")
                            div(class="service-item-name h1") Прогулки по Дону
                            div(class="service-item-description")
                                div(class="page-text")
                                    p L’accoglienza, il servizio, gli arredi, l’atmosfera del cortile, le specialit enogastronomiche, tutto contribuisce a creare un’esperienza unica da UVE in qualsiasi momento del giorno: dal pranzo leggero, al del pomeriggio, dall’aperitivo alla serata informale.
                                    dl
                                        dt Сезон:
                                        dd весна - осень
                                        dt Когда:
                                        dd по запросу гостя
                    div(class="service-item-slider-holder")
                        div(class="service-slider")
                            div(class="service-slider-list")
                                div(class="service-slider-item")
                                    img(src="../dummy/pool/walks_river.png", class="service-slider-item-img")
                                div(class="service-slider-item")
                                    img(src="../dummy/pool/walks_river.png", class="service-slider-item-img")
                                div(class="service-slider-item")
                                    img(src="../dummy/pool/walks_river.png", class="service-slider-item-img")
                            div(class="service-slider-nav")
                                span(class="service-slider-nav-item service-slider-nav-item--prev")
                                    include ../../prod/svg/larr.svg
                                span(class="service-slider-nav-counter")
                                    span(class="service-slider-nav-counter-current") 1
                                    span(class="service-slider-nav-counter-divider") 
                                    span(class="service-slider-nav-counter-all") &nbsp;
                                span(class="service-slider-nav-item service-slider-nav-item--next")
                                    include ../../prod/svg/rarr.svg
                div(class="service-item service-item--left", id="walks_river")
                    div(class="service-item-info")
                        div(class="service-item-info-inner")
                            div(class="service-item-name h1") Бильярд
                            div(class="service-item-description")
                                div(class="page-text")
                                    p Please note that our Arrangements cannot be booked in combination with other special offers. Only one offer will apply.
                                    dl
                                        dt Сезон:
                                        dd круглосуточно
                                        dt Когда:
                                        dd по запросу гостя
                    div(class="service-item-slider-holder")
                        div(class="service-slider")
                            div(class="service-slider-list")
                                div(class="service-slider-item")
                                    img(src="../dummy/pool/billiards.png", class="service-slider-item-img")
                                div(class="service-slider-item")
                                    img(src="../dummy/pool/billiards.png", class="service-slider-item-img")
                            div(class="service-slider-nav")
                                span(class="service-slider-nav-item service-slider-nav-item--prev")
                                    include ../../prod/svg/larr.svg
                                span(class="service-slider-nav-counter")
                                    span(class="service-slider-nav-counter-current") 1
                                    span(class="service-slider-nav-counter-divider") 
                                    span(class="service-slider-nav-counter-all") &nbsp;
                                span(class="service-slider-nav-item service-slider-nav-item--next")
                                    include ../../prod/svg/rarr.svg
    
    
    div(class="bcg-icon bcg-icon--1")
        img(src="../svg/samovar.svg", class="bcg-icon-img")
    div(class="bcg-icon bcg-icon--2")
        img(src="../svg/cone.svg", class="bcg-icon-img")
    div(class="bcg-icon bcg-icon--3")
        img(src="../svg/bg1.svg", class="bcg-icon-img")
