extends ../templates/base.jade

block content
    div(class="page-inner page-inner--w1")
        div(class="page-heading")
            h1(class="page-heading-title") Услуги
    
        
    div(class="page-inner page-inner--w2")
        div(class="page-text")
            cite(class="huge") Crisp alpine air flows down from above, minglin hunting lodge combines two apparently incompatible worlds into an art of fine living.


    div(class="page-inner page-inner--w1")
        div(class="relaxation")
            div(class="services-items")
                div(class="service-item service-item--left", id="pool")
                    div(class="service-item-info")
                        div(class="service-item-info-inner")
                            div(class="service-item-name h1") Проведение свадеб
                            div(class="service-item-description")
                                div(class="page-text")
                                    p With a style that’s both graceful and highly personal, and a refined, lavish approach to life, the former hunting lodge is now an incomparable five-star hotel 
                                    a(href="#", class="link link--large link--green") Подробнее
                    div(class="service-item-slider-holder")
                        div(class="service-slider")
                            div(class="service-slider-list")
                                div(class="service-slider-item")
                                    img(src="../dummy/services/2.png", class="service-slider-item-img")
                                div(class="service-slider-item")
                                    img(src="../dummy/services/2.png", class="service-slider-item-img")
                                div(class="service-slider-item")
                                    img(src="../dummy/services/2.png", class="service-slider-item-img")
                                div(class="service-slider-item")
                                    img(src="../dummy/services/2.png", class="service-slider-item-img")
                            div(class="service-slider-nav")
                                span(class="service-slider-nav-item service-slider-nav-item--prev")
                                    include ../../prod/svg/larr.svg
                                span(class="service-slider-nav-counter")
                                    span(class="service-slider-nav-counter-current") 1
                                    span(class="service-slider-nav-counter-divider") 
                                    span(class="service-slider-nav-counter-all") &nbsp;
                                span(class="service-slider-nav-item service-slider-nav-item--next")
                                    include ../../prod/svg/rarr.svg
                div(class="service-item service-item--right", id="park")
                    div(class="service-item-info")
                        div(class="service-item-info-inner")
                            div(class="service-item-name h1") Конференции 
                            div(class="service-item-description")
                                div(class="page-text")
                                    p L’accoglienza, il servizio, gli arredi, l’atmosfera del cortile, le specialit enogastronio, dall’aperitivo alla serata informale. UVE in qualsiasi momento del giorno: dal pranzo leggero, al del pomeriggio, dall’aperitivo alla serata informale.
                                    a(href="#", class="link link--large link--green") Подробнее
                    div(class="service-item-slider-holder")
                        div(class="service-slider")
                            div(class="service-slider-list")
                                div(class="service-slider-item")
                                    img(src="../dummy/services/imper4.png", class="service-slider-item-img")
                                div(class="service-slider-item")
                                    img(src="../dummy/services/imper4.png", class="service-slider-item-img")
                                div(class="service-slider-item")
                                    img(src="../dummy/services/imper4.png", class="service-slider-item-img")
                            div(class="service-slider-nav")
                                span(class="service-slider-nav-item service-slider-nav-item--prev")
                                    include ../../prod/svg/larr.svg
                                span(class="service-slider-nav-counter")
                                    span(class="service-slider-nav-counter-current") 1
                                    span(class="service-slider-nav-counter-divider") 
                                    span(class="service-slider-nav-counter-all") &nbsp;
                                span(class="service-slider-nav-item service-slider-nav-item--next")
                                    include ../../prod/svg/rarr.svg
                div(class="service-item service-item--left", id="bicycle_rides")
                    div(class="service-item-info")
                        div(class="service-item-info-inner")
                            div(class="service-item-name h1") Детский клуб
                            div(class="service-item-description")
                                div(class="page-text")
                                    p На территории нашего отеля вы можете воспользоваться арендой велосипедов и приятно провести время на велопрогулке, наслаждаясь загородной природой и свежим воздухом. Услуга доступна в летний период.
                                    a(href="#", class="link link--large link--green") Подробнее
                    div(class="service-item-slider-holder")
                        div(class="service-slider")
                            div(class="service-slider-list")
                                div(class="service-slider-item")
                                    img(src="../dummy/services/e23uqverid4.png", class="service-slider-item-img")
                                div(class="service-slider-item")
                                    img(src="../dummy/services/e23uqverid4.png", class="service-slider-item-img")
                                div(class="service-slider-item")
                                    img(src="../dummy/services/e23uqverid4.png", class="service-slider-item-img")
                                div(class="service-slider-item")
                                    img(src="../dummy/services/e23uqverid4.png", class="service-slider-item-img")
                            div(class="service-slider-nav")
                                span(class="service-slider-nav-item service-slider-nav-item--prev")
                                    include ../../prod/svg/larr.svg
                                span(class="service-slider-nav-counter")
                                    span(class="service-slider-nav-counter-current") 1
                                    span(class="service-slider-nav-counter-divider") 
                                    span(class="service-slider-nav-counter-all") &nbsp;
                                span(class="service-slider-nav-item service-slider-nav-item--next")
                                    include ../../prod/svg/rarr.svg
                div(class="service-item service-item--right", id="walks_river")
                    div(class="service-item-info")
                        div(class="service-item-info-inner")
                            div(class="service-item-name h1") Фотосессии
                            div(class="service-item-description")
                                div(class="page-text")
                                    p L’accoglienza, il servizio, gli arredi, l’atmosfera del cortile, le specialit enogastronomiche, tutto contribuisce a creare un’esperienza unica da UVE in qualsiasi momento del giorno: dal pranzo leggero, al del pomeriggio, dall’aperitivo alla serata informale.
                    div(class="service-item-slider-holder")
                        div(class="service-slider")
                            div(class="service-slider-list")
                                div(class="service-slider-item")
                                    img(src="../dummy/services/123sa.png", class="service-slider-item-img")
                                div(class="service-slider-item")
                                    img(src="../dummy/services/123sa.png", class="service-slider-item-img")
                                div(class="service-slider-item")
                                    img(src="../dummy/services/123sa.png", class="service-slider-item-img")
                            div(class="service-slider-nav")
                                span(class="service-slider-nav-item service-slider-nav-item--prev")
                                    include ../../prod/svg/larr.svg
                                span(class="service-slider-nav-counter")
                                    span(class="service-slider-nav-counter-current") 1
                                    span(class="service-slider-nav-counter-divider") 
                                    span(class="service-slider-nav-counter-all") &nbsp;
                                span(class="service-slider-nav-item service-slider-nav-item--next")
                                    include ../../prod/svg/rarr.svg
                div(class="service-item service-item--left", id="walks_river")
                    div(class="service-item-info")
                        div(class="service-item-info-inner")
                            div(class="service-item-name h1") Фитнесс зал
                            div(class="service-item-description")
                                div(class="page-text")
                                    p L’accoglienza, il servizio, gli arredi, l’atmosfera del cortile, le specialit enogastronomiche, tutto contribuisce a creare un’esperienza unica da UVE in qualsiasi momento del giorno: dal pranzo leggero, al del pomeriggio, dall’aperitivo alla serata informale.
                    div(class="service-item-slider-holder")
                        div(class="service-slider")
                            div(class="service-slider-list")
                                div(class="service-slider-item")
                                    img(src="../dummy/services/fitness1.png", class="service-slider-item-img")
                                div(class="service-slider-item")
                                    img(src="../dummy/services/fitness1.png", class="service-slider-item-img")
                            div(class="service-slider-nav")
                                span(class="service-slider-nav-item service-slider-nav-item--prev")
                                    include ../../prod/svg/larr.svg
                                span(class="service-slider-nav-counter")
                                    span(class="service-slider-nav-counter-current") 1
                                    span(class="service-slider-nav-counter-divider") 
                                    span(class="service-slider-nav-counter-all") &nbsp;
                                span(class="service-slider-nav-item service-slider-nav-item--next")
                                    include ../../prod/svg/rarr.svg
    
    
    div(class="bcg-icon bcg-icon--1")
        img(src="../svg/samovar.svg", class="bcg-icon-img")
    div(class="bcg-icon bcg-icon--2")
        img(src="../svg/cone.svg", class="bcg-icon-img")
    div(class="bcg-icon bcg-icon--3")
        img(src="../svg/bg1.svg", class="bcg-icon-img")
