extends ../templates/base.jade

block content
    div(class="page-inner page-inner--w1")
        div(class="page-heading")
            h1(class="page-heading-title") Специальные предложения
            
    div(class="page-inner page-inner--w1")
        div(class="page-text")
            cite(class="big") Same fantastic experience - even better price!


            
